img {
  width: 80px;
}

nav {
  background: linear-gradient(to right, rgb(255, 152, 42), #ff00ea);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a, 
#root > div > nav > button {
  margin-left: 1rem;
}

a.nav-link {
  color: black;
  font-weight: bold;
}
